<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.curespace">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CureSpace">
        <activity
            android:name=".BloodDonor"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Slots"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".venti_beds"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".icu_beds"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".oxyegenbed"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CovidBeds"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".splash_screen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>